.gray { background-color: #c8c3c3 }

td , th {
  white-space: normal;
  word-wrap: break-word;
  max-width: 250px;
  vertical-align: middle !important;
  text-align: center !important;
  justify-content: center !important;
}

table {
  border-collapse: collapse;
  
  flex-direction: column;
}

.mat-table {
  width: 100%;
  overflow-x: scroll;
}

.mat-row,
.mat-header-row {
  width: 100%;
  min-height: 12px;
  min-width: 800px;
}

.mat-header-cell, .mat-sort-header {
  min-height: 12px;
  font-size: larger;
  font-weight: bold;
  padding-right: 4px;
  padding-left: 4px;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.mat-cell {
  font-size: medium;
  border-right: 1px solid #000000;
}

.mat-list .mat-list-item {
  height: 30px; /* default is 72px */
  justify-content: center;
  text-align: left;
  padding: 1px;
}

.mat-card-title {
  font-size: larger;
}

.mat-form-field {
  font-size: 16px;
  width: 100%;
}

/* Center text in column header elements */
::ng-deep .mat-sort-header-container {
  display:flex;
  justify-content:center;
}