<div class="container">
  <mat-toolbar color="primary">
    <span>Abilities</span>
  </mat-toolbar>

  <mat-form-field appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. sprayshot" #input>
  </mat-form-field>

  <table mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let ability">
        <h3>{{ability.name}}</h3>
      </td>
    </ng-container>

    <!-- Weapon Type Column -->
    <ng-container matColumnDef="weaponType">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Weapon Type</th>
      <td mat-cell *matCellDef="let ability">{{ability.weaponType}}</td>
    </ng-container>

    <!-- Damage Multiplier Column -->
    <ng-container matColumnDef="damageMultiplier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Damage Mod</th>
      <td mat-cell *matCellDef="let ability">{{ability.damageMultiplier | number:'1.1-2'}}</td>
    </ng-container>

    <!-- Speed Multiplier Column -->
    <ng-container matColumnDef="speedMultiplier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Speed Mod</th>
      <td mat-cell *matCellDef="let ability">{{ability.speedMultiplier | number:'1.1-2'}}</td>
    </ng-container>

    <!-- Accuracy Bonus Column -->
    <ng-container matColumnDef="accuracyBonus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Accuracy Bonus</th>
      <td mat-cell *matCellDef="let ability">{{ability.accuracyBonus}}</td>
    </ng-container>

    <!-- HAM Cost Column -->
    <ng-container matColumnDef="hamCosts">
      <th mat-header-cell *matHeaderCellDef>HAM Costs</th>
      <td mat-cell *matCellDef="let ability">
        <div *ngIf="ability.healthCostMultiplier > 0 || ability.actionCostMultiplier > 0 || ability.mindCostMultiplier > 0 ; else NoHAMCostsCard">
        <mat-list role="list">
          <mat-card class="mat-elevation-z2"
            [ngStyle]="{'background-color':getTargetPoolColor('HEALTH_ATTRIBUTE')}">
            Health: {{ability.healthCostMultiplier}}
          </mat-card>
          <mat-card class="mat-elevation-z2"
            [ngStyle]="{'background-color':getTargetPoolColor('ACTION_ATTRIBUTE')}">
            Action: {{ability.actionCostMultiplier}}
          </mat-card>
          <mat-card class="mat-elevation-z2"
            [ngStyle]="{'background-color':getTargetPoolColor('MIND_ATTRIBUTE')}">
            Mind: {{ability.mindCostMultiplier}}
          </mat-card>
        </mat-list>
      </div>
      <ng-template #NoHAMCostsCard>
        <!-- Only display for combat abilities -->
        <div *ngIf="ability.speedMultiplier">
          <mat-card class="mat-elevation-z2" [ngStyle]="{'background-color': 'lightgray'}">
            No HAM costs
          </mat-card>
        </div>
      </ng-template>
    </ng-container>

    <!-- Target HAM Pool Column -->
    <ng-container matColumnDef="poolsToDamage">
      <th mat-header-cell *matHeaderCellDef>Target HAM Pool</th>
      <td mat-cell *matCellDef="let ability">
        <div *ngIf="ability.poolsToDamage; else NoPoolsToDamageCard">
          <mat-card class="mat-elevation-z2" *ngFor="let pool of ability.poolsToDamage"
            [ngStyle]="{'background-color':getTargetPoolColor(pool)}">
            {{pool}}
          </mat-card>
        </div>
        <ng-template #NoPoolsToDamageCard>
          <!-- Only display for combat abilities that deal damage -->
          <div *ngIf="ability.damageMultiplier">
            <mat-card class="mat-elevation-z2" [ngStyle]="{'background-color': 'lightgray'}">
              RANDOM_ATTRIBUTE
            </mat-card>
          </div>
        </ng-template>
      </td>
    </ng-container>

    <!-- DoT Effects Column -->
    <ng-container matColumnDef="dotEffects">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>DoT Effects</th>
      <td mat-cell *matCellDef="let ability">
        <mat-list role="list" *ngFor="let effect of ability.dotEffects">
          <mat-card class="mat-elevation-z2" [ngStyle]="{'background-color':getDotColor(effect.pool)}">
            <mat-card-title>{{effect.type}}</mat-card-title>
            <mat-card-content>
              <mat-list-item role="listitem">Target Pool: {{effect.pool}}</mat-list-item>
              <mat-list-item role="listitem">Chance: {{effect.chance}}%</mat-list-item>
              <mat-list-item role="listitem">Potency: {{effect.potency}}%</mat-list-item>
              <mat-list-item role="listitem">Strength: {{effect.strength}}%</mat-list-item>
              <mat-list-item role="listitem">Primary Chance: {{effect.primaryPercent}}%</mat-list-item>
              <mat-list-item role="listitem">Secondary Chance: {{effect.secondaryPercent}}%</mat-list-item>
            </mat-card-content>
          </mat-card>
        </mat-list>
    </ng-container>

    <!-- State Effects Column -->
    <ng-container matColumnDef="stateEffects">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>State Effects</th>
      <td mat-cell *matCellDef="let ability">
        <mat-list role="list" *ngFor="let effect of ability.stateEffects">
          <mat-card class="mat-elevation-z2" [ngStyle]="{'background-color':getStateColor(effect.effectType)}">
            <mat-card-title>{{effect.effectType}}</mat-card-title>
            <mat-card-content>
              <mat-list-item role="listitem">Chance: {{effect.stateChance}}%</mat-list-item>
              <mat-list-item role="listitem">Length: {{effect.stateLength}}%</mat-list-item>
              <mat-list-item role="listitem">Strength: {{effect.stateStrength}}%</mat-list-item>
            </mat-card-content>
          </mat-card>
        </mat-list>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

</div>